{% extends 'layout.html' %}

{% from "_formhelpers.html" import render_field %}

{% block body %}
    <div class="align-content-center">
      <div class="row">
          {% for competition in competitions %}

              <div class= "m-5 w-25 p-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ competition.name }}</h5>
                    <p class="card-text">{{ competition.description }}</p>
                    <a href="{{ url_for('codesubmission.attemptproblem', competition_id=competition.id)}}" class="btn btn-primary">Attempt</a>
                  </div>
                </div>
              </div>
          {%endfor%}
      </div>
    </div>
{% endblock %}
