{% extends 'layout.html' %}

{% block body %}
<div class="container">

	<table>
		<tr>
			<td>
				<h5>{{ code_form.code_text.label }}</h5>
				<form method="POST" action="">
			        <div class="form-group">
			            {{ code_form.code_text(rows='10', columns='30') }}
					</div>
				</form>
			</td>
			<td>
				<h5>{{ result_form.result_text.label }}</h5>
				<form method="POST" action="">
			        <div class="form-group">
			            {{ result_form.result_text }}
					</div>
				</form>
			</td>
		</tr>

		<tr>
			<td>
				<form method="POST" action="">
			        <div class="form-group">
			            {{ code_form.code_submit}}
					</div>
				</form>
			</td>
			<td>
				<p>.</p>
			</td>
		</tr>

	</table>

</div>

{% endblock %}