{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <p class="lead">
        Welcome 
        {% if current_user.is_authenticated %}
           {{ current_user.name }}!
        {% endif %}
        </p>
    </div>
    <div class="container">
        <h5>{{ code_form.code_text.label }}</h5>
        <form method="POST" action="">
            <div class="form-group">
                {{ code_form.code_text }}
            </div>
            <div class="form-group">
                {{ code_form.code_submit }}
            </div>
        </form>

        <h5>{{ result_form.result_text.label }}</h5>
        <form method="POST" action="">
            <div class="form-group">
                {{ result_form.result_text }}
            </div>

        </form>

    </div>

{% endblock %}