{% extends 'layout.html' %}

{% block body %}
<div class="container">

	<p><pre>{{ codeoutput }}</pre></p>

</div>

<!--
    <div class="jumbotron text-left">
        <h1>Data Scientiest's Toolbox</h1>
        <p>
            &nbsp;
        </p>
        <p>
            <a class="lead" href="/dashboard"><i class="fa fa-th-large"></i> Let's Create Something...</a>
        </p>
        <p>
            <a class="lead" href="#"><i class="fa fa-whatsapp"></i> More to come, watch out this space for more</a>
        </p>

    </div>
-->
{% endblock %}